

<body>
  <h1><%= title %></h1>
  <!-- <p>Developer: Ming-Shih Wang</p> -->
  <% if (loggedIn) { %>
    <h2> Things generated when user is authenticated </h2>
    <h3>Session Object: not sent to the user</h3>
    <pre><%= session %></pre>
    <h3>Cookie Object: sent to the user</h3> 
    <pre><%= cookies %></pre>
  <% } else { %>
   
  <% } %>


</body>

