<!-- this script tag simulates how third party cookies are added to a website -->
<script src="/javascripts/set-third-party-cookie.js"></script>
<body>
  <h1><%= title %></h1>
  <!-- <p>Developer: Ming-Shih Wang</p> -->
  <% if (loggedIn) { %>
    <h2> Things generated when user is authenticated </h2>
    <h3>Session Object: not sent to the user</h3>
    <pre><%= session %></pre>
    <h3>Cookie Object: sent to the user</h3> 
    <pre><%= cookies %></pre>
  
  <% } else { %>
   <p>No cookies sent to you yet!</p>
  <% } %>


</body>

<!-- thirdPartyCookie -->
<!--   <h3>Third Party Cookie: sent from port 4000</h3>
    <pre><%=  %></pre> -->