

<body>
  <h1><%= title %></h1>
  <p>Developer: Ming-Shih Wang</p>
  <% if (loggedIn) { %>
    <h3>Session: <%= session %></h3>
    <h3>Cookie: <%= cookies %></h3>
  <% } else { %>
   
  <% } %>


</body>

