<div>
    <h2>Login</h2>
    <% if (loginError) { %>
        <h3><%= loginError %></h3>
    <% } %>
    <form method="post" action="/login">
        username: <input type="text"
                            autocomplete="username"
                            name="username"><br>
        passphrase: <input  type="password"
                            autocomplete="passphrase"
                            name="passphrase"><br>
        <input type="submit">
    </form>
</div>