<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Third Party Website</title>
</head>
<body>
    <h1>third party website</h1>
    <div class="container">
        <form method="get" action="https://localhost:4000/sendThirdPartyCookie">
            <input type="submit" value="mr.robot">
        </form>
    </div>
  

</body>
</html>


<% if (cookieSent = false) { %>
    <p>cookie sent to first party website</p>
    <p>content: <%= data %></p>
<% } %>